<%- include('partials/htmlOpen') %>

<header class="container vh-75 d-flex justify-content-center align-items-center mt-5">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h1 class="display-1">>:╪</h1>
        <p class="display-6 m-5">página no encontrada</p>
        <a href="/" class="btn btn-secondary">back to Terraplain</a>
    </div>            
</header>

<%- include('partials/htmlClose') %>