    <%- include('partials/htmlOpen') %>
    <%- include('partials/navigation') %>

    <main class="container pt-2 mt-5">
        <h1 class="display-1 mb-3">contact.me</h1>

    
    </main>

<%- include('partials/footer') %>
<%- include('partials/htmlClose') %>