    <%- include('partials/htmlOpen') %>
    <%- include('partials/navigation') %>

    <main class="container pt-2">
        <main class="container pt-2 mt-5">
            <div class="row">
               <div class="col-xs-12 col-md-4">
                    <img src="/img/terraplen-fazt.jpg" class="w-100">
                </div>
                <div class="col-xs-12 col-md-8">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit rerum natus, et sunt blanditiis eum rem! Eaque, quisquam cum mollitia fuga architecto adipisci harum necessitatibus hic tempore odio quae nulla fugiat voluptates, nihil optio possimus impedit commodi similique pariatur doloribus. Optio dolorem in illum, provident sequi minus repudiandae? Hic nulla blanditiis commodi debitis exercitationem delectus officia dolorum voluptates a ad doloribus temporibus corrupti tempora tempore quidem laboriosam deleniti, illum porro cumque reiciendis beatae voluptatibus voluptatum. Nemo dicta culpa corporis ullam facilis debitis esse, consequuntur sint autem iste libero, delectus iusto voluptatibus adipisci assumenda et facere laudantium quibusdam error non amet.</p>
                </div>
            </div>               
            <div class="row">
                <div class="col-xs-12 col-md-4  mt-5">
                    <p class="cancion-titulo mb-4">Cuando el agua sube</p>
                    <p class="cancion-texto">
                        Un largo camino, el recorrido;<br />
                        voy de cara al viento sin un lamento.<br />
                        En el pulso del aire viajan sonidos;<br />
                        apagón del tiempo, me ilumino.<br />
                        <br />
                        Y vivo así:<br />
                        Si el agua sube vos venís;<br />
                        cuando el agua sube vos venís.<br />
                        <br />
                        Remolino, el de tus ojos<br />
                        que se devoran mi soledad.<br />
                        Remolino, el de tu boca<br />
                        que me atropella sin preguntar.<br />
                        <br />
                        <br />
                        Recorro el horizonte con luz de vilo,<br />
                        una larga ausencia no es el olvido.<br />
                        Agua sobre el aire, el firmamento;<br />
                        renacer despierto en un suspiro.<br />
                        <br />
                        Y vivo así:<br />
                        Si el agua sube vos venís,<br />
                        cuando el agua vos venís.<br />
                        <br />
                        Remolino, el de tus ojos<br />
                        que se devoran mi soledad.<br />
                        Remolino, el de tu boca<br />
                        que me atropella sin avisar.<br />
                        <br />
                        Si el agua sube vos venís,<br />
                        cuando el agua sube venís a mí.<BR>
                    </p>
                    <p class="cancion-firma mt-4">*letra y música: Jorge Riva</p>
                </div>
                <div class="col-xs-12 col-md-4  mt-5">
                    <p class="cancion-titulo mb-4">Me tiro al río</p>
                    <p class="canction-texto">
                        En la soledad del alma mía<br />
                        llevo una espina, llevo tu espina.<br />
                        <br />
                        Fuego brota de mis manos<br />
                        hay que apagarlo, hay que dejarlo.<br />
                        <br />
                        Mutación del tiempo recorrido<br />
                        me tiro al río, yo salto al río.<br />
                        <br />
                        Y que no pienses que no estás<br />
                        cuando te flotas y volás,<br />
                        es que no puedo respirar<br />
                        si muy muy lejos te me vas.<br />
                        <br />
                        <br />
                        Una crisálida del frío<br />
                        me habla al oído, grita en mi oído.<br />
                        <br />
                        Mientes cuando dices no te quiero,<br />
                        tanto mientes que no te creo.<br />
                        <br />
                        Mutación del tiempo recorrido<br />
                        me tiro al río, yo salto al río.<br />
                        <br />
                        Y que no pienses que no estás<br />
                        cuando te flotas y volás,<br />
                        es que no puedo respirar<br />
                        si muy muy lejos te me vas.<BR>                        
                    </p>                    
                    <p class="cancion-firma mt-4">*letra y música: Jorge Riva</p>                    
                </div>
                <div class="col-xs-12 col-md-4  mt-5">
                    <p class="cancion-titulo mb-4">Sos como el mar</p>
                    <p class="cantion-texto">
                        El tiempo empuja al olvido<br />
                        recuerdos perdidos que vienen y van.<br />
                        El viento abre caminos,<br />
                        son como ríos, me llevan al mar.<br />
                        <br />
                        Y yo solo pienso, tanto te pienso,<br />
                        quisiera olvidar.<br />
                        Y solo siento, tanto te siento,<br />
                        sos como el mar.<br />
                        <br />
                        <br />
                        Camino los pasos perdidos,<br />
                        te invoco en silencio, quieres callar.<br />
                        El tiempo empuja al olvido<br />
                        recuerdos perdidos que vienen y van.<br />
                        <br />
                        Y yo solo pienso, siempre te pienso,<br />
                        no te quiero olvidar.<br />
                        Y tanto quiero, tanto te quiero,<br />
                        sos como el mar.<br />
                        <br />
                        <br />
                        Y tanto pienso, siempre te pienso,<br />
                        no te voy a olvidar.<br />
                        Sos como el mar, sos como el mar.<br />
                        ¡Sos como el mar!<BR>                        
                    </p>
                    <p class="cancion-firma mt-4">*letra y música: Jorge Riva</p>                    
                </div>                                               
            </div>

    </main>



<%- include('partials/footer') %>

<%- include('partials/htmlClose') %>

